/infosystem20/.idea
/infosystemclient/.idea
/infosystemclient/infosystemclient.iml
/infosystem20/infosystem20.iml
/infosystem20/target/
/infosystemclient/target/
*.jar
*.bat
/infosystem20/.editorconfig